<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vegan - Contacto</title>
    <link rel="shortcut icon" href="../static/img/fabicon/logo-simplificado-fondo-negro.ico">
    <link rel="stylesheet" href="../static/css/style-prueba-2.css">

    <script src="https://kit.fontawesome.com/95e43c16b2.js" crossorigin="anonymous"></script>

</head>

<body class="bodyContacto">
    <header>
        <nav id="navBar">
            <div id="navLogo">
                <ul id="navLogoDesplegable">
                    <li id="navLogoDesplegableIcono"><i class="fa-solid fa-bars"></i>

                        <ul id="navLogoDesplegableLista">

                            <li id="navLogoDesplegableBotones">
                                <a href="../index.html">Home</a>
                            </li>

                            <li id="navLogoDesplegableBotones">
                                <a href="./menu.html">Menú</a>
                            </li>

                            <li id="navLogoDesplegableBotones">
                                <a href="./reserva.html">Reserva</a>
                            </li id="navLogoDesplegableBotones">

                            <li id="navLogoDesplegableBotones">
                                <a href="./nosotros.html">Nosotros</a>
                            </li>

                            <li id="navLogoDesplegableBotones">
                                <a href="./contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <a href="../index.html"><img id="navImg" src="../static/img/logos/Logo-Horrizontal v2.png"
                        alt="Logo de Vegan"></a>

                <a href="../../index.html"><img id="navImgSimplificado" src="../static/img/logos/Logo-Solo.png"
                        alt="Logo de Vegan"></a>
            </div>

            <div id="navMenu">
                <a class="navMenuLogo" href="../index.html"><img id="navImg"
                        src="../static/img/logos/Logo-Horrizontal v2.png" alt="Logo de Vegan"></a>
                <a class="navMenuLink" href="../index.html">Home</a>
                <a class="navMenuLink" href="./menu.html">Menú</a>
                <a class="navMenuLink" href="./reserva.html">Reserva</a>
                <a class="navMenuLink" href="./nosotros.html">Nosotros</a>
                <a class="navMenuLink" href="./contacto.html">Contacto</a>
            </div>

            <div id="navLogin">
                <a class="navLoginLink" id="navLoginLinkIcono" href="./admin/login.html"><i
                        class="fa-solid fa-circle-user"></i></a>
                <a class="navLoginLink" id="navLoginLinkTexto" href="./admin/login.html"><i
                        class="fa-solid fa-circle-user"></i> Login</a>
            </div>

        </nav>
    </header>

    <main class="mainContacto">
        <div class="fondoContacto">
            <div class="contenedorContacto">
                <div class="tituloContacto">
                    <h1>Contactenos</h1>
                </div>

                <div class="iframeContacto">
                    <h2>Visite nuestros locales</h2>

                    <a class="central" target="iframeChange"
                        href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.8459958104368!2d-58.37504140321046!3d-34.60805559999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3352cbe276f75%3A0xe16921ef0545f86d!2sCasa%20Rosada!5e0!3m2!1ses-419!2sar!4v1716314881660!5m2!1ses-419!2sar">
                        Central
                    </a>

                    <a class="local1" target="iframeChange"
                        href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0169751871313!2d-58.37328732427249!3d-34.60373225749879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a33532a8705b45%3A0xaf4ac850ee945d64!2sBolsa%20de%20Comercio%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1716369241407!5m2!1ses!2sar">
                        Local 1
                    </a>

                    <a class="local2" target="iframeChange"
                        href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13130.778391857664!2d-58.449234690482925!3d-34.63715726228959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccbb7065d907f%3A0x9ce77385d2f35dd3!2sParque%20Chacabuco%2C%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1716369327594!5m2!1ses!2sar">
                        Local 2
                    </a>

                    <iframe name="iframeChange"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.8459958104368!2d-58.37504140321046!3d-34.60805559999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3352cbe276f75%3A0xe16921ef0545f86d!2sCasa%20Rosada!5e0!3m2!1ses-419!2sar!4v1716314881660!5m2!1ses-419!2sar"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <script src="../static/Js/scripMapa.js"></script>

                <div class="formContenedorContacto">
                    <h2>Contactese con nosotros:</h2>
                    <form action="" id="formContacto" class="formContacto">

                        <div>
                            <label for="nombreContacto">Nombre:</label>
                            <input id="nombreContacto" type="text">
                            <p id="errorNombre" class="errorNombre"></p>
                        </div>

                        <div>
                            <label for="emailContacto">Email:</label>
                            <input id="emailContacto" class="emailContacto" type="email">
                            <p id="errorEmail" class="errorEmail"></p>
                        </div>

                        <div>
                            <label for="asuntoContacto">Asunto:</label>
                            <input id="asuntoContacto" type="text">
                            <p id="errorAsunto" class="errorAsunto"></p>
                        </div>

                        <div>
                            <label for="mensajeContacto">Mensaje:</label>
                            <input id="mensajeContacto" type="text">
                            <p id="errorMensaje" class="errorMensaje"></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </main>

    <footer class="barFooter">
        <div class="redesFooter">
            <p>Siganos en</p>
            <div>
                <i class="fa-brands fa-square-instagram"></i>
                <p>@Vegan</p>
            </div>
            <div>
                <i class="fa-brands fa-square-facebook"></i>
                <p>@VeganRestaurants</p>
            </div>

            <p>Telefono</p>
            <div>
                <i class="fa-brands fa-square-whatsapp"></i>
                <p>+54 9 11 3887-2088</p>
            </div>

        </div>

        <div class="logoFooter">
            <img src="../static/img/logos/Logo Vegano (verde y negro) recortado v2.png" alt="">
        </div>

        <div class="navegacionFooter">
            <a class="navMenuLink" href="../index.html">Home</a>
            <a class="navMenuLink" href="./menu.html">Menú</a>
            <a class="navMenuLink" href="./reserva.html">Reserva</a>
            <a class="navMenuLink" href="./nosotros.html">Nosotros</a>
            <a class="navMenuLink" href="./contacto.html">Contacto</a>
        </div>

        <div class="copyFooter">
            <p class="copyFooter">Copyrights © 2024 All Rights Reserved by Vegan</p>
        </div>

    </footer>

</body>

</html>