<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:wght@200..1000&display=swap" rel="stylesheet">

    <!-- Agregar fontawesome -->
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>

    <!-- HACEMOS REFERENCIA A UN DOCUMENTO CSS EXTERNO -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/crud-movies.css">
    

    <!-- INTERNO AL DOCUMENTO -->
    <!-- <script>
        alert('Hola mundo JS C#24162 😎');
    </script> -->
</head>

<!-- Agregamos CCS en linea -->
<body >
    <!-- Agregar comentario -->
    <!-- INDICAR LA CABECERA -->
    <header class="header">
        <!-- indica que un menu de navegacion -->
        <nav>
            <!-- para realizar divisiones de contenido -->
            <div id="logo">
                <a href="">
                    <i class="fas fa-film"></i>
                    <span class="logo-text">
                        Vegan
                    </span>
                </a>
            </div>
            <ul class="nav-links">
                <li>
                    <!-- etiqueta enlace - enlace interno al documento html -->
                    <a href="#popular" >Tendencias</a>
                </li>
                <li>
                    <!-- etiqueta enlace interno al proyecto -->
                    <a href="./register.html">Registrarse</a>
                </li>
                <li>
                    <!-- Enlace externo -->
                    <a href="#" target="_blank" class="btn-cac">
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="login-text">
                            Iniciar sesión
                        </span>
                    </a>
                </li>
            </ul>
        </nav>

    </header>
    <!-- Indicar contenido principal de la pagina -->
    <main> 
        <section id="form" class="container ">
            <h2 class="search-title">Gestión de peliculas</h2>
            <p class="description" >En esta sección se podra llevar a cabo la gestión de las peliculas del portal</p>
            <form action="#"  id="form-reserva">
                <div class="d-flex">
                    <div class="form-control d-flex-column">
                        <label for="local">Local</label>
                        <input type="text" class="input-search" name="local" id="local">
                    </div>
                    <div class="form-control d-flex-column">
                        <label for="hora">Hora</label>
                        <input type="time" class="input-search" name="hora" id="hora">
                    </div>
                    
                    <div class="form-control d-flex-column">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="input-search" name="nombre" id="nombre">
                    </div>
                    <div class="form-control d-flex-column">
                        <label for="email">Email</label>
                        <input type="text" class="input-search" name="email" id="email-form">
                    </div>    
                    <div class="form-control d-flex-column">
                        <label for="comensales">Comensales</label>
                        <input type="number" class="input-search" name="comensales" id="comensales-form">
                    </div>             
                    <input style="display: none;" name="id" id="id-reserva">
                    <button class="btn-cac" type="button" id="btn-save-reserva">Reservar</button>
                </div>
            </form> 
        </section>
        <section id="list" class="container">
            <h3 class="subtitle">Listado de peliculas</h3>
            <table id="list-table-reservas" class="table">
                <thead>
                    <tr>
                        <th>Local</th>
                        <th>Hora</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Comensales</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tbody-table-reservas">
                    
                </tbody>
            </table>
        </section>  
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/crud-movies-fetch.js"></script>
    <script src="../static/js/index.js"></script>
</body>

</html>