<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../static/img/fabicon/logo-simplificado-fondo-negro.ico">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Vegan - Locales</title>
    
</head>
<body>
    <header class="barra">
        <nav id="navBar">
            <img src="../static/img/logos/Logo-Horrizontal v2.png" alt="">
            <div id="nav-Menu">
                <a href="../index.html">Home</a>
                <a href="./nosotros.html">Nosotros</a>
                <a href="./platos.html">Platos</a>
                <a href="./bebidas y licuados.html">Bebidas y Licuados</a>
                <a href="./reserva.html">Reserva</a>
                <a href="./locales.html">Locales</a>
                <a href="./contacto.html">Contacto</a>
            </div>

            <div id="navLogin">
                <a href="./admin/login.html">Login/Registrarse</a>
            </div>

        </nav>
    </header>

    <main>
        Aca van a ir nuestros locales.
    </main>

    <footer>

    </footer>
    
</body>
</html>