<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vegan - Menú</title>
    <link rel="shortcut icon" href="../static/img/fabicon/logo-simplificado-fondo-negro.ico">
    <link rel="stylesheet" href="../static/css/style-prueba-2.css">

    <script src="https://kit.fontawesome.com/95e43c16b2.js" crossorigin="anonymous"></script>

</head>

<body class="bodyMenu">
    <header>
        <nav id="navBar">
            <div id="navLogo">
                <ul id="navLogoDesplegable">
                    <li id="navLogoDesplegableIcono"><i class="fa-solid fa-bars"></i>

                        <ul id="navLogoDesplegableLista">

                            <li id="navLogoDesplegableBotones">
                                <a href="../index.html">Home</a>
                            </li>

                            <li id="navLogoDesplegableBotones">
                                <a href="./menu.html">Menú</a>
                            </li>

                            <li id="navLogoDesplegableBotones">
                                <a href="./reserva.html">Reserva</a>
                            </li id="navLogoDesplegableBotones">

                            <li id="navLogoDesplegableBotones">
                                <a href="./nosotros.html">Nosotros</a>
                            </li>

                            <li id="navLogoDesplegableBotones">
                                <a href="./contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <a href="../index.html"><img id="navImg" src="../static/img/logos/Logo-Horrizontal v2.png"
                        alt="Logo de Vegan"></a>

                <a href="../../index.html"><img id="navImgSimplificado" src="../static/img/logos/Logo-Solo.png"
                        alt="Logo de Vegan"></a>
            </div>

            <div id="navMenu">
                <a class="navMenuLogo" href="../index.html"><img id="navImg"
                        src="../static/img/logos/Logo-Horrizontal v2.png" alt="Logo de Vegan"></a>
                <a class="navMenuLink" href="../index.html">Home</a>
                <a class="navMenuLink" href="./menu.html">Menú</a>
                <a class="navMenuLink" href="./reserva.html">Reserva</a>
                <a class="navMenuLink" href="./nosotros.html">Nosotros</a>
                <a class="navMenuLink" href="./contacto.html">Contacto</a>
            </div>

            <div id="navLogin">
                <a class="navLoginLink" id="navLoginLinkIcono" href="./admin/login.html"><i
                        class="fa-solid fa-circle-user"></i></a>
                <a class="navLoginLink" id="navLoginLinkTexto" href="./admin/login.html"><i
                        class="fa-solid fa-circle-user"></i> Login</a>
            </div>

        </nav>
    </header>

    <main class="mainMenu">
        <div class="mainCarta">
            <h1 class="bienvenidaCarta">Bienvenidos a nuestra carta</h1>
            <h2 class="bienvenidaCarta">Conocé el sabor de la naturaleza</h2>
            <div class="boxesContainer">
                <div class="cardBox">
                    <div class="card">
                        <div id="cardUno" class="front">
                            <h3 class="hCard">Arroz</h3>
                            <p class="pCard">Incluye papas al horno</p>
                            <strong>&#x21bb;</strong>
                        </div>
                        <div id="cardUnoBack" class="back">
                            <h4 class="hCard">Arroz</h4>
                            <p class="pCard">Plato a base de arroz con garbanzos</p>
                        </div>
                    </div>
                </div>
                <div class="cardBox">
                    <div class="card">
                        <div id="cardDos" class="front">
                            <h5 class="hCard">Arroz</h5>
                            <p class="pCard">Incluye papas al horno</p>
                            <strong>&#x21bb;</strong>
                        </div>
                        <div id="cardDosBack" class="back">
                            <h6 class="hCard">Arroz</h6>
                            <p class="pCard">Plato a base de arroz con garbanzos</p>
                            <a class="aCard" href="#">Volver</a>
                        </div>
                    </div>
                </div>
                <div class="cardBox">
                    <div class="card">
                        <div id="cardTres" class="front">
                            <h5 class="hCard">Arroz</h5>
                            <p class="pCard">Incluye papas al horno</p>
                            <strong>&#x21bb;</strong>
                        </div>
                        <div id="cardTresBack" class="back">
                            <h5 class="hCard">Arroz</h5>
                            <p class="pCard">Plato a base de arroz con garbanzos</p>
                            <a class="aCard" href="#">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex enim exercitationem ullam velit facere tempora
            quidem porro unde, aliquid ducimus, quod rerum. Architecto, quos consectetur. Repellat placeat unde dicta
            ipsa.</p>
    </main>

    <footer>

    </footer>

</body>

</html>