<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vegan - Menú</title>
    <link rel="shortcut icon" href="../static/img/fabicon/logo-simplificado-fondo-negro.ico">
    <link rel="stylesheet" href="../static/css/style-prueba-2.css">

    <script src="https://kit.fontawesome.com/95e43c16b2.js" crossorigin="anonymous"></script>

</head>

<body class="bodyMenu">
    <header>
        <nav id="navBar">
            <div id="navLogo">
                <ul id="navLogoDesplegable">
                    <li id="navLogoDesplegableIcono"><i class="fa-solid fa-bars"></i>

                        <ul id="navLogoDesplegableLista">

                            <li class="navLogoDesplegableBotones">
                                <a href="../index.html">Home</a>
                            </li>

                            <li class="navLogoDesplegableBotones">
                                <a href="./menu.html">Menú</a>
                            </li>

                            <li class="navLogoDesplegableBotones">
                                <a href="./reserva.html">Reserva</a>
                            </li class="navLogoDesplegableBotones">

                            <li class="navLogoDesplegableBotones">
                                <a href="./nosotros.html">Nosotros</a>
                            </li>

                            <li class="navLogoDesplegableBotones">
                                <a href="./contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <a href="../index.html"><img class="navImg" src="../static/img/logos/LogoHorrizontalv2.png"
                        alt="Logo de Vegan"></a>

                <a href="../../index.html"><img id="navImgSimplificado" src="../static/img/logos/Logo-Solo.png"
                        alt="Logo de Vegan"></a>
            </div>

            <div id="navMenu">
                <a class="navMenuLogo" href="../index.html"><img class="navImg"
                        src="../static/img/logos/LogoHorrizontalv2.png" alt="Logo de Vegan"></a>
                <a class="navMenuLink" href="../index.html">Home</a>
                <a class="navMenuLink" href="./menu.html">Menú</a>
                <a class="navMenuLink" href="./reserva.html">Reserva</a>
                <a class="navMenuLink" href="./nosotros.html">Nosotros</a>
                <a class="navMenuLink" href="./contacto.html">Contacto</a>
            </div>

            <div id="navLogin">
                <a class="navLoginLink" id="navLoginLinkIcono" href="./admin/login.html"><i
                        class="fa-solid fa-circle-user"></i></a>
                <a class="navLoginLink" id="navLoginLinkTexto" href="./admin/login.html"><i
                        class="fa-solid fa-circle-user"></i> Login</a>
            </div>

        </nav>
    </header>

    <main class="mainMenu">
        <div class="mainCarta">
            <div class="bienvenidaCarta">
                <h1>Nuestra Carta</h1>
            </div>

            <div class="subtituloMenu principalMenu">
                <h2 class="seccionCarta">Plato Principal</h2>
            </div>
            <div class="principalPlatos">
                <div class="boxesContainer">
                    <div class="cardBox">
                        <div class="card">
                            <div id="cardUno" class="front">
                                <h3 class="hCard">Arroz con salsa de alcachofa</h3>
                                <p class="pCard">Un plato de arroz blanco sazonado y bañado en una salsa de alcachofa y
                                    champignon a base de crema y mostaza</p>
                                <!-- <strong>&#x21bb;</strong> -->
                            </div>
                            <div id="cardUnoBack" class="back">
                                <h4 class="hCard">Arroz con salsa de alcachofa</h4>
                                <p class="pCard">Ofrecemos un plato liviano a base de arroz blanco, sazonado con finas
                                    hierbas del litoral y bañado en nuestra salsa especial de alcachofa y champignon,
                                    mixeadas con crema no lactea y mostaza</p>
                            </div>
                        </div>
                    </div>
                    <div class="cardBox">
                        <div class="card">
                            <div id="cardDos" class="front">
                                <h5 class="hCard">Fideos a la carbonara</h5>
                                <p class="pCard">Plato de spaguetis con salsa carbonara en su versión vegana</p>
                                <!-- <strong>&#x21bb;</strong> -->
                            </div>
                            <div id="cardDosBack" class="back">
                                <h6 class="hCard">Fideos a la carbonara</h6>
                                <p class="pCard">Un plato de spaguetis con salsa carbonara, hecha a base de tofu mixeado y
                                    seitan rebosado y fritado con aceite vegetal</p>
                            </div>
                        </div>
                    </div>
                    <div class="cardBox">
                        <div class="card">
                            <div id="cardTres" class="front">
                                <h5 class="hCard">Curry de garbanzos y mango</h5>
                                <p class="pCard">Un curry de garbanzos con una salsa de mango y jengibre</p>
                                <!-- <strong>&#x21bb;</strong> -->
                            </div>
                            <div id="cardTresBack" class="back">
                                <h5 class="hCard">Curry de garbanzos y mango</h5>
                                <p class="pCard">Un delicioso plato de garbanzos bañados en una salsa de mango y jengibre,
                                    acompañado con una proción de arroz blanco especiado</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- </div> -->
        <!-- Guarniciones -->
        <!-- <div class="mainCarta"> -->
            <div class="subtituloMenu acompañamientoMenu">
                <h2 class="seccionCarta">Acompañamientos</h2>
            </div>
            <div class="acompañamientoPlatos">
                <div class="boxesContainer">
                    <div class="cardBox">
                        <div class="card">
                            <div id="cardCuatro" class="front">
                                <h3 class="hCard">Ensalada de fideos moñito</h3>
                                <p class="pCard">Una ensalada de fideos moñitos, cebolla morada y rúcula, con albóndigas de
                                    soja texturizada</p>
                                <!-- <strong>&#x21bb;</strong> -->
                            </div>
                            <div id="cardCuatroBack" class="back">
                                <h4 class="hCard">Ensalada de fideos moñito</h4>
                                <p class="pCard">Una acompañamiento ideal para compartir entre 2 personas, hecha a base de
                                    pasta en una ensalada de cebolla morada y rúcula, servido con unas albóndigas de soja
                                    texturizada sazonada</p>
                            </div>
                        </div>
                    </div>
                    <div class="cardBox">
                        <div class="card">
                            <div id="cardCinco" class="front">
                                <h5 class="hCard">Wok de verduras asadas</h5>
                                <p class="pCard">Salteado de verduras asadas: Calabaza, tomatito cherry, coliflor, lechuga y
                                    zucchini</p>
                                <!-- <strong>&#x21bb;</strong> -->
                            </div>
                            <div id="cardCincoBack" class="back">
                                <h6 class="hCard">Wok de verduras asadas</h6>
                                <p class="pCard">Una guarnición ideal para acompañar cualquier pasta, se puede pedir para 1
                                    o 2 personas. Un wok con diversas verduras asadas, compuesta por calabaza, tomatito
                                    cherry, coliflor, lechuga y zucchini</p>
                            </div>
                        </div>
                    </div>
                    <div class="cardBox">
                        <div class="card">
                            <div id="cardSeis" class="front">
                                <h5 class="hCard">Salteado de vegetales</h5>
                                <p class="pCard">Salteado de vegetales y legumbres: Calabaza anko, palta, tomatito cherry,
                                    zapallito verde, porotos blancos y colorados, y semillas de quinoa</p>
                                <!-- <strong>&#x21bb;</strong> -->
                            </div>
                            <div id="cardSeisBack" class="back">
                                <h5 class="hCard">Salteado de vegetales</h5>
                                <p class="pCard">Una cazuela de vegetales variados, ideal para compartir entre 2 personas.
                                    Un acompañamiento versatil, preparado con calabaza anko asada, zapallito verde hervido,
                                    palta y tomatito cherry, todo sobre un colchón de semillas de quinoa y porotos blancos y
                                    colorados. Incluye pan y tostadas para untar</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- </div> -->
        <!-- Bebidas -->
        <!-- <div class="mainCarta"> -->
            <div class="subtituloMenu bebidaMenu">
                <h2 class="seccionCarta">Bebidas</h2>
            </div>
            <div class="bebidasPlatos">
                <div class="boxesContainer">
                    <div class="cardBox">
                        <div class="card">
                            <div id="cardSiete" class="front">
                                <h3 class="hCard">Licuado de pistacho</h3>
                                <p class="pCard">Bebida a hecha de Pistacho, hojas de menta y a base de leche de almendras
                                </p>
                                <!-- <strong>&#x21bb;</strong> -->
                            </div>
                            <div id="cardSieteBack" class="back">
                                <h4 class="hCard">Licuado de pistacho</h4>
                                <p class="pCard">Una bebida refrescante que toma el pistacho como fruto seco principal,
                                    aromatizado con hojas de menta procesadas y licuado a base de leche de almendras</p>
                            </div>
                        </div>
                    </div>
                    <div class="cardBox">
                        <div class="card">
                            <div id="cardOcho" class="front">
                                <h5 class="hCard">Smoothie de frutos rojos</h5>
                                <p class="pCard">Un smoothie preparado con frutos rojos: Frutilla, frambuesa, mora y
                                    arándanos a base de leche de almendras</p>
                                <!-- <strong>&#x21bb;</strong> -->
                            </div>
                            <div id="cardOchoBack" class="back">
                                <h6 class="hCard">Smoothie de frutos rojos</h6>
                                <p class="pCard">Una bebida de gran sabor hecha con frutos rojos frescos de huerta, con
                                    frutilla, frambuesa, mora y arándanos con leche de almendras y un poco de jugo de
                                    naranja</p>
                            </div>
                        </div>
                    </div>
                    <div class="cardBox">
                        <div class="card">
                            <div id="cardNueve" class="front">
                                <h5 class="hCard">Licuado de ananá y jengibre</h5>
                                <p class="pCard">Un licuado hecho a base de ananá y jengibre con rayaduras de limón</p>
                                <!-- <strong>&#x21bb;</strong> -->
                            </div>
                            <div id="cardNueveBack" class="back">
                                <h5 class="hCard">Licuado de ananá y jengibre</h5>
                                <p class="pCard">Una bebida refrescante a base de ananá en fruta y pulpa, con un pequeño
                                    trozo de jengibre para intensificar sabor y rayaduras de limón para aromatizar. Ideal
                                    para días de calor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <footer class="barFooter">
        <div class="redesFooter">
            <p>Siganos en</p>
            <div>
                <i class="fa-brands fa-square-instagram"></i>
                <p>@Vegan</p>
            </div>
            <div>
                <i class="fa-brands fa-square-facebook"></i>
                <p>@VeganRestaurants</p>
            </div>

            <p>Telefono</p>
            <div>
                <i class="fa-brands fa-square-whatsapp"></i>
                <p>+54 9 11 3887-2088</p>
            </div>

        </div>

        <div class="logoFooter">
            <img src="../static/img/logos/Logo Vegano (verde y negro) recortado v2.png" alt="">
        </div>

        <div class="navegacionFooter">
            <a class="navMenuLink" href="../index.html">Home</a>
            <a class="navMenuLink" href="./menu.html">Menú</a>
            <a class="navMenuLink" href="./reserva.html">Reserva</a>
            <a class="navMenuLink" href="./nosotros.html">Nosotros</a>
            <a class="navMenuLink" href="./contacto.html">Contacto</a>
        </div>

        <div class="copyFooter">
            <p class="copyFooter">Copyrights © 2024 All Rights Reserved by Vegan</p>
        </div>

    </footer>

</body>

</html>