<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vegan - Menú</title>
    <link rel="shortcut icon" href="../static/img/fabicon/logo-simplificado-fondo-negro.ico">
    <link rel="stylesheet" href="../static/css/style-prueba-2.css">

    <script src="https://kit.fontawesome.com/95e43c16b2.js" crossorigin="anonymous"></script>

</head>

<body class="bodyMenu">
    <header>
        <nav id="navBar">
            <div id="navLogo">
                <ul id="navLogoDesplegable">
                    <li id="navLogoDesplegableIcono"><i class="fa-solid fa-bars"></i>

                        <ul id="navLogoDesplegableLista">

                            <li id="navLogoDesplegableBotones">
                                <a href="../index.html">Home</a>
                            </li>

                            <li id="navLogoDesplegableBotones">
                                <a href="./menu.html">Menú</a>
                            </li>

                            <li id="navLogoDesplegableBotones">
                                <a href="./reserva.html">Reserva</a>
                            </li id="navLogoDesplegableBotones">

                            <li id="navLogoDesplegableBotones">
                                <a href="./nosotros.html">Nosotros</a>
                            </li>

                            <li id="navLogoDesplegableBotones">
                                <a href="./contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <a href="../index.html"><img id="navImg" src="../static/img/logos/Logo-Horrizontal v2.png"
                        alt="Logo de Vegan"></a>

                <a href="../../index.html"><img id="navImgSimplificado" src="../static/img/logos/Logo-Solo.png"
                        alt="Logo de Vegan"></a>
            </div>

            <div id="navMenu">
                <a class="navMenuLogo" href="../index.html"><img id="navImg"
                        src="../static/img/logos/Logo-Horrizontal v2.png" alt="Logo de Vegan"></a>
                <a class="navMenuLink" href="../index.html">Home</a>
                <a class="navMenuLink" href="./menu.html">Menú</a>
                <a class="navMenuLink" href="./reserva.html">Reserva</a>
                <a class="navMenuLink" href="./nosotros.html">Nosotros</a>
                <a class="navMenuLink" href="./contacto.html">Contacto</a>
            </div>

            <div id="navLogin">
                <a class="navLoginLink" id="navLoginLinkIcono" href="./admin/login.html"><i
                        class="fa-solid fa-circle-user"></i></a>
                <a class="navLoginLink" id="navLoginLinkTexto" href="./admin/login.html"><i
                        class="fa-solid fa-circle-user"></i> Login</a>
            </div>

        </nav>
    </header>

    <main class="mainMenu">
        <div class="mainCarta">
            <h1 class="bienvenidaCarta">Bienvenidos a nuestra carta</h1>
            <h2 class="bienvenidaCarta">Conocé el sabor de la naturaleza</h2>
            <div class="boxesContainer">
                <div class="cardBox">
                    <div class="card">
                        <div id="cardUno" class="front">
                            <h3 class="hCard">Arroz con salsa de alcachofa</h3>
                            <p class="pCard">Un plato de arroz blanco sazonado y bañado en una salsa de alcachofa y champignon a base de crema y mostaza</p>
                            <strong>&#x21bb;</strong>
                        </div>
                        <div id="cardUnoBack" class="back">
                            <h4 class="hCard">Arroz con salsa de alcachofa</h4>
                            <p class="pCard">Ofrecemos un plato liviano a base de arroz blanco, sazonado con finas hierbas del litoral y bañado en nuestra salsa especial de alcachofa y champignon, mixeadas con crema no lactea y mostaza</p>
                        </div>
                    </div>
                </div>
                <div class="cardBox">
                    <div class="card">
                        <div id="cardDos" class="front">
                            <h5 class="hCard">Fideos a la carbonara</h5>
                            <p class="pCard">Plato de spaguetis con salsa carbonara en su versión vegana</p>
                            <strong>&#x21bb;</strong>
                        </div>
                        <div id="cardDosBack" class="back">
                            <h6 class="hCard">Fideos a la carbonara</h6>
                            <p class="pCard">Un plato de spaguetis con salsa carbonara, hecha a base de tofu mixeado y seitan rebosado y fritado con aceite vegetal</p>
                        </div>
                    </div>
                </div>
                <div class="cardBox">
                    <div class="card">
                        <div id="cardTres" class="front">
                            <h5 class="hCard">Curry de garbanzos y mango</h5>
                            <p class="pCard">Un curry de garbanzos con una salsa de mango y jengibre</p>
                            <strong>&#x21bb;</strong>
                        </div>
                        <div id="cardTresBack" class="back">
                            <h5 class="hCard">Curry de garbanzos y mango</h5>
                            <p class="pCard">Un delicioso plato de garbanzos bañado en una salsa de mango y jengibre, acompañado con una proción de arroz blanco especiado</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Guarniciones -->
        <div class="mainCarta">
            <h1 class="bienvenidaCarta">Acompañamientos</h1>
            <h2 class="bienvenidaCarta">Algunos platos incluyen guarnición</h2>
            <div class="boxesContainer">
                <div class="cardBox">
                    <div class="card">
                        <div id="cardCuatro" class="front">
                            <h3 class="hCard">Ensalada de fideos moñito</h3>
                            <p class="pCard">Una ensalada de fideos moñitos, cebolla morada y rúcula, con albóndigas de soja texturizada</p>
                            <strong>&#x21bb;</strong>
                        </div>
                        <div id="cardCuatroBack" class="back">
                            <h4 class="hCard">Ensalada de fideos moñito</h4>
                            <p class="pCard">Una acompañamiento ideal para compartir entre 2 personas, hecha a base de pasta en una ensalada de cebolla morada y rúcula, servido con unas albóndigas de soja texturizada sazonada</p>
                        </div>
                    </div>
                </div>
                <div class="cardBox">
                    <div class="card">
                        <div id="cardCinco" class="front">
                            <h5 class="hCard">Wok de verduras asadas</h5>
                            <p class="pCard">Salteado de verduras asadas: Calabaza, tomatito cherry, coliflor, lechuga y zucchini</p>
                            <strong>&#x21bb;</strong>
                        </div>
                        <div id="cardCincoBack" class="back">
                            <h6 class="hCard">Wok de verduras asadas</h6>
                            <p class="pCard">Una guarnición ideal para acompañar cualquier pasta, se puede pedir para 1 o 2 personas. Un wok con diversas verduras asadas, compuesta por calabaza, tomatito cherry, coliflor, lechuga y zucchini</p>
                        </div>
                    </div>
                </div>
                <div class="cardBox">
                    <div class="card">
                        <div id="cardSeis" class="front">
                            <h5 class="hCard">Salteado de vegetales</h5>
                            <p class="pCard">Salteado de vegetales y legumbres: Calabaza anko, palta, tomatito cherry, zapallito verde, porotos blancos y colorados, y semillas de quinoa</p>
                            <strong>&#x21bb;</strong>
                        </div>
                        <div id="cardSeisBack" class="back">
                            <h5 class="hCard">Salteado de vegetales</h5>
                            <p class="pCard">Una cazuela de vegetales variados, ideal para compartir entre 2 personas. Un acompañamiento versatil, preparado con calabaza anko asada, zapallito verde hervido, palta y tomatito cherry, todo sobre un colchón de semillas de quinoa y porotos blancos y colorados. Incluye pan y tostadas para untar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bebidas -->
        <div class="mainCarta">
            <h1 class="bienvenidaCarta">Bebidas</h1>
            <h2 class="bienvenidaCarta">Una carta de nuestras bebidas naturales</h2>
            <div class="boxesContainer">
                <div class="cardBox">
                    <div class="card">
                        <div id="cardUno" class="front">
                            <h3 class="hCard">Arroz</h3>
                            <p class="pCard">Incluye papas al horno</p>
                            <strong>&#x21bb;</strong>
                        </div>
                        <div id="cardUnoBack" class="back">
                            <h4 class="hCard">Arroz</h4>
                            <p class="pCard">Plato a base de arroz con garbanzos</p>
                        </div>
                    </div>
                </div>
                <div class="cardBox">
                    <div class="card">
                        <div id="cardDos" class="front">
                            <h5 class="hCard">Arroz</h5>
                            <p class="pCard">Incluye papas al horno</p>
                            <strong>&#x21bb;</strong>
                        </div>
                        <div id="cardDosBack" class="back">
                            <h6 class="hCard">Arroz</h6>
                            <p class="pCard">Plato a base de arroz con garbanzos</p>
                        </div>
                    </div>
                </div>
                <div class="cardBox">
                    <div class="card">
                        <div id="cardTres" class="front">
                            <h5 class="hCard">Arroz</h5>
                            <p class="pCard">Incluye papas al horno</p>
                            <strong>&#x21bb;</strong>
                        </div>
                        <div id="cardTresBack" class="back">
                            <h5 class="hCard">Arroz</h5>
                            <p class="pCard">Plato a base de arroz con garbanzos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>

</body>

</html>