<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="../static/img/fabicon/logo-simplificado-fondo-negro.ico">
  <link rel="stylesheet" href="../static/css/style - javier.css">
  <title>Restaurante Vegano - Ecosistema</title>

</head>

<body>
  <header>
    <!-- <h1>Restaurante Vegano</h1> -->
    <a href="../index.html"><img src="../static/img/logos/Logo-Horrizontal v2.png" alt="Restaurant Vegano"></a>

    <!-- PRUEBA PARA LA BARRA DE NAVEGACION -->
    <nav id="navBar">
      <div id="nav-Menu">
        <a href="../index.html">Home</a>
        <a href="./nosotros.html">Nosotros</a>
        <a href="./platos.html">Platos</a>
        <a href="./bebidas y licuados.html">Bebidas y Licuados</a>
        <a href="./reserva.html">Reserva</a>
        <a href="./locales.html">Locales</a>
        <a href="./contacto.html">Contacto</a>
      </div>
    </nav>

  </header>
  <main>
    <section class="ecosistema">
      <h2>Ecosistema</h2>
      <p>El restaurante está ubicado en un entorno natural, rodeado de un ecosistema vibrante. Los ingredientes que
        utilizamos son frescos, locales y sostenibles.</p>
      <img src="imagenes-index/ecosistema1.jpeg" alt="Ecosistema">
    </section>
    <section class="menu">
      <h2>Menú</h2>
      <p>Ofrecemos una variedad de platos veganos deliciosos y saludables, elaborados con ingredientes frescos y de
        temporada.</p>
      <ul>
        <li>Ensalada de quinoa con verduras asadas</li>
        <li>Hamburguesa de lentejas con pan integral</li>
        <li>Pasta con pesto de albahaca y tomates cherry</li>
        <li>Arroz con leche de coco y mango</li>
      </ul>
    </section>
    <section class="contacto">
      <h2>Contacto</h2>
      <p>Para más información, puede contactarnos por teléfono o correo electrónico.</p>
      <ul>
        <li>Teléfono: +54 11 1234 5678</li>
        <li>Correo electrónico: info@restaurantevegano.com</li>
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Restaurante Vegano</p>
  </footer>
</body>

</html>