<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Vegan - Nosotros</title>
  <link rel="shortcut icon" href="../static/img/fabicon/logo-simplificado-fondo-negro.ico">
  <link rel="stylesheet" href="../static/css/style-prueba-2.css">

  <script src="https://kit.fontawesome.com/95e43c16b2.js" crossorigin="anonymous"></script>

</head>

<body class="bodyNosotros">
  <header>
    <nav id="navBar">
        <div id="navLogo">
            <ul id="navLogoDesplegable">
                <li id="navLogoDesplegableIcono"><i class="fa-solid fa-bars"></i>

                    <ul id="navLogoDesplegableLista">

                        <li class="navLogoDesplegableBotones">
                            <a href="../index.html">Home</a>
                        </li>

                        <li class="navLogoDesplegableBotones">
                            <a href="./menu.html">Menú</a>
                        </li>

                        <li class="navLogoDesplegableBotones">
                            <a href="./reserva.html">Reserva</a>
                        </li>

                        <li class="navLogoDesplegableBotones">
                            <a href="./nosotros.html">Nosotros</a>
                        </li>

                        <li class="navLogoDesplegableBotones">
                            <a href="./contacto.html">Contacto</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <a href="../index.html"><img class="navImg" src="../static/img/logos/LogoHorrizontalv2.png"
                    alt="Logo de Vegan"></a>

            <a href="../../index.html"><img id="navImgSimplificado" src="../static/img/logos/Logo-Solo.png"
                    alt="Logo de Vegan"></a>
        </div>

        <div id="navMenu">
            <a class="navMenuLogo" href="../index.html"><img class="navImg"
                    src="../static/img/logos/LogoHorrizontalv2.png" alt="Logo de Vegan"></a>
            <a class="navMenuLink" href="../index.html">Home</a>
            <a class="navMenuLink" href="./menu.html">Menú</a>
            <a class="navMenuLink" href="./reserva.html">Reserva</a>
            <a class="navMenuLink" href="./nosotros.html">Nosotros</a>
            <a class="navMenuLink" href="./contacto.html">Contacto</a>
        </div>

        <div id="navLogin">
            <a class="navLoginLink" id="navLoginLinkIcono" href="./admin/login.html"><i
                    class="fa-solid fa-circle-user"></i></a>
            <a class="navLoginLink" id="navLoginLinkTexto" href="./admin/login.html"><i
                    class="fa-solid fa-circle-user"></i> Login</a>
        </div>

    </nav>
</header>

  <main class="mainNosotros">
    <div class="contenedorLogo">
      <img src="../static/img/logos/LogoVegano(verdeynegro)recortado.png" class="imgLogoNosotros" alt="">
    </div>
    <div class="contenedorPrimario">
      <section class="contenedorNosotros">
        <section class="quienesSomos">
          <h2>¿Quiénes somos?</h2>
          <p>Somos una cadena de restaurantes enfocados en el cuidado del medio ambiente y la alimentación saludable. La
            idea de construir un restaurante vegano, amigable con el medio ambiente, surge de la falta de espacios de
            concientización ambiental y centrados en una gastronomía de origen vegano, con ingredientes frescos de
            huerta y alternativas sin procedencia animal.</p>
          <div class="contenedorImg">
            <img class="imgNosotros" src="../static/img/backgrounds/pngeggv2.png" alt="">
          </div>
        </section>
        <section class="menuNosotros">
          <h2>Nuestra carta</h2>
          <p>Ofrecemos una variedad de platos veganos deliciosos y saludables, elaborados con ingredientes frescos y de
            huerta. Uno de nuestros platos estrella es el "Curry de garbanzos y mango", un fino plato de garbanzos
            bañados en una salsa de mango y jengibre,
            acompañado con una proción de arroz blanco especiado, que recomendamos acompañar con nuestro "Wok de
            verduras asadas", que preparamos con diversas verduras asadas como: calabaza, tomatito
            cherry, coliflor, lechuga y zucchini</p>
        </section>
        <section class="filosofiaNosotros">
          <h2>Nuestra filosofía</h2>
          <p>
            En Vegan, creemos que la comida vegana no solo es deliciosa y nutritiva, sino que también puede
            ser una experiencia gastronómica excepcional. Nos apasiona crear platos que exploren la riqueza
            y diversidad de la cocina basada en plantas, utilizando ingredientes frescos y de temporada de
            la más alta calidad.</p>
        </section>
      </section>
    </div>


  </main>

  <footer class="barFooter">
    <div class="redesFooter">
      <p>Siganos en</p>
      <div>
        <i class="fa-brands fa-square-instagram"></i>
        <p>@Vegan</p>
      </div>
      <div>
        <i class="fa-brands fa-square-facebook"></i>
        <p>@VeganRestaurants</p>
      </div>

      <p>Telefono</p>
      <div>
        <i class="fa-brands fa-square-whatsapp"></i>
        <p>+54 9 11 3887-2088</p>
      </div>

    </div>

    <div class="logoFooter">
      <img src="../static/img/logos/LogoVegano(verdeynegro)recortadov2.png" alt="">
    </div>

    <div class="navegacionFooter">
      <a class="navMenuLink" href="../index.html">Home</a>
      <a class="navMenuLink" href="./menu.html">Menú</a>
      <a class="navMenuLink" href="./reserva.html">Reserva</a>
      <a class="navMenuLink" href="./nosotros.html">Nosotros</a>
      <a class="navMenuLink" href="./contacto.html">Contacto</a>
    </div>

    <div class="copyFooter">
      <p class="copyFooter">Copyrights © 2024 All Rights Reserved by Vegan</p>
    </div>

  </footer>

</body>

</html>