<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vegan - Reserva</title>
    <link rel="shortcut icon" href="../static/img/fabicon/logo-simplificado-fondo-negro.ico">
    <link rel="stylesheet" href="../static/css/style-prueba-2.css">

    <script src="https://kit.fontawesome.com/95e43c16b2.js" crossorigin="anonymous"></script>

</head>

<body class="bodyReserva">
    <header>
        <nav id="navBar">
            <div id="navLogo">
                <ul id="navLogoDesplegable">
                    <li id="navLogoDesplegableIcono"><i class="fa-solid fa-bars"></i>

                        <ul id="navLogoDesplegableLista">

                            <li class="navLogoDesplegableBotones">
                                <a href="../index.html">Home</a>
                            </li>

                            <li class="navLogoDesplegableBotones">
                                <a href="./menu.html">Menú</a>
                            </li>

                            <li class="navLogoDesplegableBotones">
                                <a href="./reserva.html">Reserva</a>
                            </li class="navLogoDesplegableBotones">

                            <li class="navLogoDesplegableBotones">
                                <a href="./nosotros.html">Nosotros</a>
                            </li>

                            <li class="navLogoDesplegableBotones">
                                <a href="./contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <a href="../index.html"><img class="navImg" src="../static/img/logos/LogoHorrizontalv2.png"
                        alt="Logo de Vegan"></a>

                <a href="../../index.html"><img id="navImgSimplificado" src="../static/img/logos/Logo-Solo.png"
                        alt="Logo de Vegan"></a>
            </div>

            <div id="navMenu">
                <a class="navMenuLogo" href="../index.html"><img class="navImg"
                        src="../static/img/logos/LogoHorrizontalv2.png" alt="Logo de Vegan"></a>
                <a class="navMenuLink" href="../index.html">Home</a>
                <a class="navMenuLink" href="./menu.html">Menú</a>
                <a class="navMenuLink" href="./reserva.html">Reserva</a>
                <a class="navMenuLink" href="./nosotros.html">Nosotros</a>
                <a class="navMenuLink" href="./contacto.html">Contacto</a>
            </div>

            <div id="navLogin">
                <a class="navLoginLink" id="navLoginLinkIcono" href="./admin/login.html"><i
                        class="fa-solid fa-circle-user"></i></a>
                <a class="navLoginLink" id="navLoginLinkTexto" href="./admin/login.html"><i
                        class="fa-solid fa-circle-user"></i> Login</a>
            </div>

        </nav>
    </header>

    <main class="mainReserva">
        <div class="contReserva">
            <h1>Reservas</h1>
            <h2>Realise su reserva aqui</h2>
            <form id="formReserva" class="formReserva">
                <div>
                    <div>
                        <label for="">Fecha:</label>
                        <input id="fechaReserva" class="fechaReserva" type="date">
                        <p id="errorFecha" class="errorFecha"></p>
                    </div>

                    <div>
                        <label for="">Hora:</label>
                        <input id="horaReserva" class="horaReserva" type="time" min="09:00" max="18:00" step="1800" value="09:00">
                        <p id="errorHora" class="errorHora"></p>
                    </div>

                    <div>
                        <label for="">Cantidad de comensales:</label>
                        <input id="comensalesReserva" class="comensalesReserva" type="number" min="1" max="25"
                            value="1">
                        <p id="errorComensales" class="errorComensales"></p>
                    </div>

                    <div>
                        <label for="">Mail:</label>
                        <input id="emailReserva" class="emailReserva" type="email">
                        <p id="errorEmail" class="errorEmail"></p>
                    </div>

                    <div>
                        <label for="">A nombre de aquien se hace la reserva:</label>
                        <input id="nombreReserva" type="text">
                        <p id="errorNombre" class="errorNombre"></p>
                    </div>

                    <div class="select-local-reserva">
                        <label for="">Seleccione un local:</label>
                        <select id="localReserva" class="localReserva">
                            <option value="default">Seleccione local</option>
                            <option value="1">Local 1</option>
                            <option value="2">Local 2</option>
                        </select>
                        <p id="errorLocal" class="errorLocal"></p>
                    </div>

                    <div class="reservarButton">
                        <button type="submit">Reservar</button>
                    </div>
                </div>
            </form>
            <script src="../static/Js/scrip.js"></script>
        </div>
    </main>

    <footer class="barFooter">
        <div class="redesFooter">
            <p>Siganos en</p>
            <div>
                <i class="fa-brands fa-square-instagram"></i>
                <p>@Vegan</p>
            </div>
            <div>
                <i class="fa-brands fa-square-facebook"></i>
                <p>@VeganRestaurants</p>
            </div>

            <p>Telefono</p>
            <div>
                <i class="fa-brands fa-square-whatsapp"></i>
                <p>+54 9 11 3887-2088</p>
            </div>

        </div>

        <div class="logoFooter">
            <img src="../static/img/logos/LogoVegano(verdeynegro)recortadov2.png" alt="">
        </div>

        <div class="navegacionFooter">
            <a class="navMenuLink" href="../index.html">Home</a>
            <a class="navMenuLink" href="./menu.html">Menú</a>
            <a class="navMenuLink" href="./reserva.html">Reserva</a>
            <a class="navMenuLink" href="./nosotros.html">Nosotros</a>
            <a class="navMenuLink" href="./contacto.html">Contacto</a>
        </div>

        <div class="copyFooter">
            <p class="copyFooter">Copyrights © 2024 All Rights Reserved by Vegan</p>
        </div>
    </footer>
</body>

</html>