<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vegan - Contacto</title>
    <link rel="shortcut icon" href="../static/img/fabicon/logo-simplificado-fondo-negro.ico">
    <link rel="stylesheet" href="../static/css/style-prueba-2.css">

    <script src="https://kit.fontawesome.com/95e43c16b2.js" crossorigin="anonymous"></script>

</head>

<body class="bodyReserva">
    <header>
        <nav id="navBar">
            <div id="navLogo">
                <ul id="navLogoDesplegable">
                    <li id="navLogoDesplegableIcono"><i class="fa-solid fa-bars"></i>

                        <ul id="navLogoDesplegableLista">

                            <li id="navLogoDesplegableBotones">
                                <a href="../index.html">Home</a>
                            </li>

                            <li id="navLogoDesplegableBotones">
                                <a href="./menu.html">Menú</a>
                            </li>

                            <li id="navLogoDesplegableBotones">
                                <a href="./reserva.html">Reserva</a>
                            </li id="navLogoDesplegableBotones">

                            <li id="navLogoDesplegableBotones">
                                <a href="./nosotros.html">Nosotros</a>
                            </li>

                            <li id="navLogoDesplegableBotones">
                                <a href="./contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <a href="../index.html"><img id="navImg" src="../static/img/logos/Logo-Horrizontal v2.png"
                        alt="Logo de Vegan"></a>

                <a href="../../index.html"><img id="navImgSimplificado" src="../static/img/logos/Logo-Solo.png"
                        alt="Logo de Vegan"></a>
            </div>

            <div id="navMenu">
                <a class="navMenuLogo" href="../index.html"><img id="navImg"
                        src="../static/img/logos/Logo-Horrizontal v2.png" alt="Logo de Vegan"></a>
                <a class="navMenuLink" href="../index.html">Home</a>
                <a class="navMenuLink" href="./menu.html">Menú</a>
                <a class="navMenuLink" href="./reserva.html">Reserva</a>
                <a class="navMenuLink" href="./nosotros.html">Nosotros</a>
                <a class="navMenuLink" href="./contacto.html">Contacto</a>
            </div>

            <div id="navLogin">
                <a class="navLoginLink" id="navLoginLinkIcono" href="./admin/login.html"><i
                        class="fa-solid fa-circle-user"></i></a>
                <a class="navLoginLink" id="navLoginLinkTexto" href="./admin/login.html"><i
                        class="fa-solid fa-circle-user"></i> Login</a>
            </div>

        </nav>
    </header>

    <main class="mainReserva">
        <div class="contReserva">
            <h1>Reservas</h1>
            <h2>Realise su reserva aqui</h2>
            <form action="" id="formReserva">
                <div>
                    <div>
                        <label for="fecha-reserva">Seleccione una fecha:</label>
                        <input type="date">
                    </div>

                    <div>
                        <label for="hora-reserva">Seleccione una hora:</label>
                        <input type="time">
                        <h6>*Recuerde que el horario es de...</h6>
                    </div>

                    <div>
                        <label for="cantidad-reserva">Seleccione la cantidad de comensales:</label>
                        <input type="number">
                    </div>

                    <div>
                        <label for="mail-reserva">Mail:</label>
                        <input type="email">
                        <h6>*Se enviara un mail de confirmacion con el codigo de reserva</h6>
                    </div>

                    <div>
                        <label for="nombre-reserva">A nombre de aquien se hace la reserva:</label>
                        <input type="text">
                    </div>

                    <div class="select-local-reserva">
                        <label for="local-reserva">Seleccione un local:</label>
                        <select id="local-reserva" class="local-reserva">
                            <option value="">Seleccione local</option>
                            <option value="1">Local 1</option>
                            <option value="2">Local 2</option>
                        </select>
                    </div>

                    <div class="reservarButton">
                        <button>Reservar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <footer>

    </footer>
</body>

</html>