:root {
    --bg-color-nav: rgba(71, 71, 71, 0.85);
    --bg-color-nav-opacity-50: rgba(71, 71, 71, 0.50);
    --bg-color-button: rgba(128, 128, 128, 0.9);
    --primary-color: rgba(0, 255, 0, 1);
    --primary-color-opacity-50: rgba(0, 255, 0, 0.5);
    --secondary-color: white;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

/* ---------------- Barra Navegacion ------------------ */

/* Crea el espacio donde va la barra de navegacion */

header {
    height: 55px;
}

/* Creamos el grid de la barra de navegacion y le damos formato */
#navBar {
    position: fixed;
    background-color: var(--bg-color-nav);
    border-bottom: 5px solid var(--primary-color-opacity-50);
    width: 100%;

    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 50px;
    grid-template-areas:
        "logoPequeño navegacion login";

    place-items: center;

    z-index: 1;
}

/* Modifica "Logo" de la barra de navegacion */
nav #navLogo {
    height: 100%;
    padding-bottom: 5px;
}

nav #navLogo #navImg {
    grid-area: logoPequeño;
    height: 100%;
}

nav #navLogo #navLogoDesplegable {
    display: none;
}

nav #navLogo #navImgSimplificado {
    display: none;
}

nav #navLogo #navLogoDesplegable #navLogoDesplegableIcono {
    color: var(--primary-color)
}

/* Modifica "Menu" de la barra de navegacion */
nav #navMenu {
    grid-area: navegacion;
    height: 100%;
    place-content: center;
}

nav #navMenu .navMenuLink {
    text-decoration: none;
    color: var(--primary-color-opacity-50);
    font-size: 1.2em;
    padding: 5px 20px;
}

#navMenu .navMenuLogo img {
    height: 100%;
    display: none;
}

/* Modifica "Login" en la barra de navegacion */
nav #navLogin {
    grid-area: login;

    background-color: var(--bg-color-button);
    border-radius: 50px;
    padding: 5px 10px;
}

nav #navLogin .navLoginLink {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2em;

}

nav #navLogin a i {
    margin: 3px 3px 3px 0px;
}

nav #navLogin #navLoginLinkIcono {
    display: none;
}

/* Modifica los links de Menu y login para que cuando le pasemos el puntero por enseima cambien */
nav #navMenu .navMenuLink:hover {
    color: var(--secondary-color);
    background-color: var(--bg-color-button);
}

nav #navLogin .navLoginLink:hover {
    color: var(--secondary-color);
}

/* Para pantallas de 800px a 1079px */
@media screen and (min-width: 800px) and (max-width: 1079px) {

    /* #navBar{
        grid-template-columns: 8fr 2fr;
        grid-template-rows: 50px;
        grid-template-areas:
        "navegacion login";
    } */

    /* Modifica Logo */

    /* #navLogo{
        display: none;
        background-color: red;
    } */

    nav #navLogo #navImg {
        display: none;
    }

    nav #navLogo #navImgSimplificado {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        margin-top: 2px;
        ;

    }

    /* Modifica Menu */
    nav #navMenu .navMenuLink {
        font-size: 1em;
    }

    /* Modifica Login */
    nav #navLogin {
        grid-area: login;
        border-radius: 30px;
        padding: 3px 6px;
    }

    nav #navLogin .navLoginLink {
        font-size: 1em;
    }
}

/* Para pantallas de MENOS de 800px */

@media screen and (max-width: 799px) {

    /* Modifica el area de LOGO */
    nav #navLogo {
        place-items: center;
    }

    /* Para el desplegable */
    nav #navLogo #navLogoDesplegable {
        /* background-color: red; */
        height: 80%;
        margin-top: 7px;
        display: block;
    }

    nav #navLogo #navLogoDesplegable #navLogoDesplegableIcono {
        /* background-color: green; */
        list-style: none;
        max-width: 36px;
    }

    nav #navLogo #navLogoDesplegable #navLogoDesplegableIcono i {
        /* background-color: white; */
        padding: 8px 9px;
        border-radius: 20px;
    }

    nav #navLogo #navLogoDesplegable #navLogoDesplegableIcono:hover i {
        background-color: var(--bg-color-button);
        padding: 8px 9px;
        border-radius: 20px;
        color: var(--secondary-color);
    }

    nav #navLogo #navLogoDesplegable #navLogoDesplegableIcono #navLogoDesplegableLista {
        /* background-color: white; */
        display: none;
        width: 150px;
    }

    nav #navLogo #navLogoDesplegable #navLogoDesplegableIcono:hover #navLogoDesplegableLista {
        display: block;
        list-style: none;
        position: relative;
        top: 12px;
    }

    nav #navLogo #navLogoDesplegable #navLogoDesplegableIcono #navLogoDesplegableLista #navLogoDesplegableBotones {
        background-color: var(--bg-color-nav);
        height: 30px;
    }

    nav #navLogo #navLogoDesplegable #navLogoDesplegableIcono #navLogoDesplegableLista #navLogoDesplegableBotones:hover {
        border-bottom: 3px solid var(--primary-color);
    }

    nav #navLogo #navLogoDesplegable #navLogoDesplegableIcono #navLogoDesplegableLista #navLogoDesplegableBotones a {
        text-decoration: none;
        color: var(--primary-color);
        padding-left: 5px;
    }

    /* Para la IMAGEN */
    nav #navLogo #navImg {
        display: none;
    }

    /* Modifica el area de MENÚ */
    nav #navMenu .navMenuLink {
        display: none;
    }

    nav #navMenu .navMenuLogo #navImg {
        display: block;
        height: 80%;
    }

    /* Modifica el area de LOGIN */
    nav #navLogin {
        background-color: transparent;
    }

    nav #navLogin:hover {
        background-color: var(--bg-color-button);
    }

    nav #navLogin #navLoginLinkTexto {
        display: none;
    }

    nav #navLogin #navLoginLinkIcono {
        display: block;
    }

    nav #navLogin a i {
        margin: 0px;
    }
}

    /* ---------------- CSS del register ------------------ */

.bodyRegister {
    background-image: url(../img/backgrounds/paul-griffin-WWST6E8LxeE-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

        /* modifica el main */
.mainRegister{
    background-color: var(--bg-color-nav);
    margin: 0 auto;
    margin-top: 10px;
    width: 45%;
    height: 800px;
    border: 5px solid var(--bg-color-nav-opacity-50);
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    margin-bottom: 30px;
}

        /* crea y modifica el contenedor del h1, h2 y formulario */
.mainRegister #contLoging {
    display: grid;
    grid-template-rows: 10% 10% 80%;
    grid-template-areas:
        "titulo"
        "subtitulo"
        "formulario";

    width: 100%;
    height: 100%;
    align-items: center;
    /* background-color: blueviolet; */
}

.mainRegister #contLoging h1 {
    grid-area: titulo;
    font-size: 2.5em;
    text-align: center;

    height: 90%;
    /* background-color: aqua; */
}

.mainRegister #contLoging h2 {
    grid-area: subtitulo;
    font-size: 1.4em;
    text-align: center;
    margin: 5%;

    height: 90%;
    /* background-color: orangered; */
}

.mainRegister #contLoging form {
    grid-area: formulario;


    height: 90%;
    /* background-color: lawngreen; */
}

        /* crea y modifica el grid del formulario */

.mainRegister form div {

    display: grid;
    grid-template-areas:
        "nombreRegistro"
        "apellidoRegistro"
        "cumpleañosRegistro"
        "mailRegistro"
        "contraseñaRegistro"
        "confirmContraRegistro"
        "terminosRegistro"
        "botonesRegistro"
        "recuperarRegistro";

    place-items: center;
    height: 95%;

    /* background-color: red; */
}

.mainRegister form div div {
    width: 90%;
    /* background-color: white; */
}

.mainRegister form div div label {
    width: 100%;
    text-align: start;
    font-weight: bold;
    color: var(--secondary-color);
    padding-left: 15px;
    text-shadow: 2px 2px 2px black;
    /* background-color: yellow; */
}

.mainRegister form div div input {
    width: 100%;
    /* height: 1.6em; */
    border-radius: 50px;
    outline-color: var(--primary-color);
    text-indent: 15px
}

/* modifica el input de Cumpleaños */

.mainRegister form div #fechaRegistro {
    text-indent: 6px;
    padding-right: 10px;
}


        /* modifica el div de Terminos y condiciones */
.mainRegister form div div label input {
    width: 5%;
}

.mainRegister form div #terminosRegister {
    place-content: center;
    justify-content: stretch;
}

.mainRegister form div #terminosRegister label {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: baseline;
    /* width: 150%; */
    /* background-color: grey; */
}

.mainRegister form div #terminosRegister label:hover {
    color: var(--secondary-color);
}


        /* modifica el div de los botones */
.mainRegister form div #botonesRegister {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.mainRegister form div #botonesRegister button , .contactoButton button {
    /* width: 45%; */
    width: 80%;
    background-color: var(--primary-color-opacity-50);
    font-weight: bold;
    border-color: transparent;
    color: var(--secondary-color);
}

.mainRegister form div #botonesRegister button:hover , .contactoButton{
    color: rgba(255, 255, 255, 0.5);
    border-color: var(--primary-color-opacity-50);
}

        /* modifica el div de Recuperar contraseña */
.mainRegister form div #recPassRegister {
    display: flex;
    place-content: center;
    gap: 3%;
}

        /* modifica ancho del form para pantallas de 800 a 1079px */
@media screen and (min-width: 800px) and (max-width: 1079px) {
    .mainRegister {
        width: 60%;
    }
}

        /* modifica ancho del form para pantallas de 800 a 1079px */
@media screen and (max-width: 799px) {
    .mainRegister {
        width: 85%;
    }

    .mainRegister #contLoging h2 {
        font-size: 1.1em;
        margin: 1%;

    }

    .mainRegister #contLoging form {
        height: 95%;
    }
}

    /* ---------------- CSS del LOGIN ------------------ */

.bodyLogin {
    background-image: url(../img/backgrounds/jason-leung-poI7DelFiVA-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

        /* Modifica el Main */
.mainLogin {
    background-color: var(--bg-color-nav);
    margin: 70px auto;
    width: 35%;
    height: 500px;
    border: 5px solid var(--bg-color-nav-opacity-50);
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    margin-bottom: 30px;
}

        /* Crear el grid dentro del main y asigna los divs las areas */
.contLogin , .contReserva {
    display: grid;
    grid-template-rows: 10% 10% 80%;
    grid-template-areas:
        "titulo"
        "subtitulo"
        "formulario";

    width: 100%;
    height: 100%;
    align-items: center;

    /* background-color: red; */
}

.contLogin h1 , .contReserva h1 {
    grid-area: titulo;
    font-size: 2.5em;
    text-align: center;

    height: 90%;
    /* background-color: aqua; */
}

.contLogin h2 , .contReserva h2 {
    grid-area: subtitulo;
    font-size: 1.4em;
    text-align: center;
    margin: 5%;

    height: 90%;
    /* background-color: orangered; */
}

.contLogin form , .contReserva form {
    grid-area: formulario;


    height: 90%;
    /* background-color: lawngreen; */
}

.mainLogin form div {

    display: grid;
    grid-template-areas:
        "nombreLogin"
        "contraseñaLogin"
        "recordarmeLogin"
        "botonLogin"
        "recuperarLogin"
        "registrarLogin";

    place-items: center;
    height: 95%;

    /* background-color: red; */
}

.mainLogin form div div , .mainReserva form div div, .formContacto div {
    width: 90%;
    /* background-color: white; */
}

.mainLogin form div div label , .mainReserva form div div label, .formContacto div label {
    width: 100%;
    text-align: start;
    font-weight: bold;
    color: var(--secondary-color);
    padding-left: 15px;
    text-shadow: 2px 2px 2px black;
    /* background-color: yellow; */
}

.mainLogin form div div input , .mainReserva form div div input, .formContacto div input {
    width: 100%;
    border-radius: 50px;
    outline-color: var(--primary-color);
    text-indent: 15px
}

        /* modifica el div de Terminos y condiciones */
.mainLogin form div div label input {
    width: 5%;
}

.mainLogin form div .recordarLogin {
    place-content: center;
    justify-content: stretch;
}

.mainLogin form div .recordarLogin label {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: baseline;
    /* width: 150%; */
    /* background-color: grey; */
}

.mainLogin form div .recordarLogin label:hover {
    color: var(--secondary-color);
}

        /* modifica el div de los botones */
.mainLogin form div .iniciarButton , .mainReserva form div .reservarButton , .contactoButton{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
        
.mainLogin form div .iniciarButton button , .mainReserva form div .reservarButton button, .contactoButton button {
/* width: 45%; */
    width: 80%;
    background-color: var(--primary-color-opacity-50);
    font-weight: bold;
    border-color: transparent;
    color: var(--secondary-color);
}
        
.mainLogin form div .iniciarButton button:hover , .mainReserva form div .reservarButton button:hover, .contactoButton button:hover {
    color: rgba(255, 255, 255, 0.5);
    border-color: var(--primary-color-opacity-50);
}
        
        /* modifica el div de Recuperar contraseña y Crear cuenta*/
.mainLogin form div #recPassRegister , #registerLogin{
    display: flex;
    flex-direction: row;
    place-content: center;
    gap: 3%;
    /* background-color: green; */
}
    /* AGREGO EN ESTA SECCION TEMPORALMENTE EL MAIN RESERVA PORQUE TENIA PROBLEMAS CON EL MEDIA QUE NO LO TOMAVA SI COLOCABA MAS ABAJO EL MAIN. */
.mainReserva {
    background-color: var(--bg-color-nav);
    margin: 70px auto;
    width: 35%;
    height: 700px;
    border: 5px solid var(--bg-color-nav-opacity-50);
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    margin-bottom: 30px;
}

/* modifica ancho del form para pantallas de 800 a 1079px */
@media screen and (min-width: 800px) and (max-width: 1079px) {

    .mainLogin ,
    .mainReserva {
        width: 60%;
    }
}

/* modifica ancho del form para pantallas de 800 a 1079px */
@media screen and (max-width: 799px) {

    .mainLogin ,
    .mainReserva {
        width: 85%;
    }

    .mainLogin #contLoging h2 {
        font-size: 1.1em;
        margin: 1%;

    }

    .mainLogin #contLoging form {
        height: 95%;
    }

    .mainLogin .contLogin h2 {
        display: none;
    }
}

/* ---------------- CSS del RESERVA ------------------ */
.bodyReserva {
    background-image: url(../img/backgrounds/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.mainReserva form div {
    display: grid;
    grid-template-areas:
        "fecha"
        "hora"
        "cantidad"
        "mail"
        "nombreReserva"
        "local"
        "botonReserva";

    place-items: center;
    height: 95%;

    /* background-color: red; */
}

.mainReserva form div h6{
    font-size: 18px;
    width: 90%;
}

.mainReserva form div select{
    width: 100%;
    border-radius: 50px;
    outline-color: var(--primary-color);
    text-indent: 15px;
}

.mainReserva form div div {
    padding: 3px;
}

.mainReserva form{
    margin-top: 0px;
}

/* pruebas */
/* body{
    background-image: url(../img/backgrounds/jason-leung-poI7DelFiVA-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

/* main{
    background-color: var(--bg-color-nav);
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    border: 5px solid var(--bg-color-nav-opacity-50);
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    margin-bottom: 30px;
} */
/* ---------------- CSS Nosotros -------------------- */

.bodyNosotros{
    background-image:url(../img/backgrounds/erol-ahmed-IHL-Jbawvvo-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainNosotros{
    /* background:var(--bg-color-nav-opacity-50); */
    padding: 3%;
}

.contenedorLogo{
    text-align: center;
    margin-bottom: 3%;
}

.imgLogoNosotros{
    border-radius: 5%;
    height: auto;
    width: 18%;
}

.contenedorPrimario{
    width: auto;
    height: auto;
    margin: 0 12%;
    background-color: hsla(0, 0%, 100%, 0.5);
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    margin-bottom: 30px;
}

.contenedorNosotros{
    padding: 3%;
}

.contenedorNosotros h2{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: var(--secondary-color);
    text-shadow: 2px 2px 2px black;
}

#subtituloNosotros h2{
    width: 30%;
    min-width: 325px;
    height: 50px;
    background-color: var(--primary-color-opacity-50);
    margin: 20px 0;
    background: linear-gradient(to right, rgb(20, 158, 20), rgba(255, 255, 255, 0));
}

.imgNosotros{
    width: 40%;
    height: 40%;
    padding: 3%;
    border-radius: 20%;
}

.contenedorImg{
    text-align: left;
}

.contenedorNosotros p{
    font-family:'Times New Roman', Times, serif;
    font-size: 120%;
    text-align: justify;
    margin: 0 5%;
}

.menuNosotros{
    margin-bottom: 3%;
}

@media screen and (max-width: 800px){
    .contenedorImg{
        text-align: center;
        width: auto;
    }
    .contenedorPrimario{
        margin: 0;
        padding: 0;
        background: none;
        box-shadow: none;
    }

    .mainNosotros{
        padding: 0;
        background: hwb(0 100% 0% / 0.5);
    }

    .imgLogoNosotros{
        width: 35%;
    }

}

@media screen and (max-width: 320px){
    .contenedorImg{
        text-align: center;
        width: auto;
    }

    .contenedorPrimario{
        margin: 0;
        padding: 0;
        background: none;
        box-shadow: none;
    }

    .mainNosotros{
        padding: 0;
        background: hwb(0 100% 0% / 0.5);
    }

    .imgLogoNosotros{
        width: 60%;
    }



    #subtituloNosotros h2{
        width: 90%;
        min-width: 150px;
        height: 50px;
        font-size: 140%;
    }
}


/* ---------------- CSS Index/Home ------------------ */

.bodyHome{
    background-image: url(../img/backgrounds/chris-liverani-oCsaxvGCehM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainHome{
    background-color:var(--bg-color-nav-opacity-50);
    width: 100%;
    min-height: 1024px;

}
.grillaPrincipal{
    width: 100%;
    max-height: max-content;
    padding: 0 2%;
    padding-bottom: 5%;
    display: grid;
    grid-template-areas: 
    "titulo"
    "cuerpo";
}

.titulo{
    grid-area: titulo;
    background-color: black;
    width: 80%;
    max-height: 140px;
    margin: 20px auto;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    justify-content: center;
}

/* Especifico para Home */
.tituloHome{
    grid-template-areas:
    "logo1 texto logo2";
}
.titulo .tituloLogo1Home{
    grid-area: logo1;
    width: 100%;
    max-width: 130px;
    height: 80%;
}
.titulo .tituloTextoHome{
    grid-area: texto;
    width: 100%;
    max-width: 320px;
}

.titulo .tituloLogo2Home{
    grid-area: logo2;
    width: 100%;
    max-width: 130px;
    height: 80%;
}
/* ---------------------- */

.titulo img{
    max-height: 140px;
    place-self: center;
}

.cuerpo{
    grid-area: cuerpo;
    width: 80%;
    margin: 20px auto;

    display:grid;
    grid-template-areas: 
    "seccion1"
    "seccion2";
    gap: 20px;

    align-content: center;
    justify-content: center;
}

.seccion1{
    grid-area: seccion1;
    display: grid;
    grid-template-areas: 
    "imagen titulo"
    "imagen parrafo";
}
.imagenSeccion1{
    grid-area: imagen;
}
.subSec1{
    grid-area: titulo;
}
.parSec1{
    grid-area: parrafo;
}

.seccion2{
    grid-area: seccion2;
    display: grid;
    grid-template-areas: 
    "titulo imagen"
    "parrafo imagen";
}
.imagenSeccion2{
    grid-area: imagen;
}
.subSec2{
    grid-area: titulo;
}
.parSec2{
    grid-area: parrafo;
}

.seccion{
    /* height: 450px; */
    gap: 5%;
    align-items: start;
    justify-content: center;
    grid-template-rows: 1fr 3fr;
    background-color: var(--bg-color-nav-opacity-50);
    padding: 1em;
}

.seccion img{
    max-width: 300px;
    max-height: 450px;
    place-self: center;
}
.seccion2 img{
    height: 450px;
}

.subtitulo{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: var(--secondary-color);
    text-shadow: 2px 2px 2px black;
    width: 55%;
    background-color: var(--primary-color-opacity-50);
    place-self: center;
}

.contParrafoSec2{
    display: grid;
    gap: 1em;
}

.parrafo{
    font-size: 1.5em;
    font-weight: bold;
    color:white;
}

@media screen and (min-width: 768px) and (max-width: 1280px){
    .seccion1{
        grid-template-areas: 
        "titulo titulo"
        "imagen parrafo";
    }
    .seccion2{
        grid-template-areas: 
        "titulo titulo"
        "parrafo imagen";
    }
    .subtitulo{
        font-size: 2em;
        width: 60%;
    }

    .seccion img{
        max-width: 200px;
        max-height: 300px;
        place-self: center;
    }
    .seccion2 img{
        height: 300px;
    }

    .parrafo{
        font-size: 1.2em;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){

    .grillaPrincipal{
        grid-template-areas: 
        "cuerpo";
    }

    .tituloHome{
        display: none;
    }

    .cuerpo{
        width: 90%;
    }
    .seccion{
        grid-template-areas: 
        "titulo"
        "imagen"
        "parrafo";
        align-items: center;
    }
    .seccion1{
        grid-template-rows: 0.5fr 2fr 3fr;
        gap: 3%;
    }
    .seccion2{
        grid-template-rows: 1fr 3fr 5fr;
        gap: 1%;
    }
    .subtitulo{
        font-size: 1.5em;
        width: 80%;
    }

    .seccion img{
        max-width: 200px;
        max-height: 300px;
        place-self: center;
    }
    .seccion2 img{
        height: 300px;
    }

    .parrafo{
        font-size: 1.2em;
        width: 90%;
        place-self: center;
        text-align: center;
    }

}

/* ---------------- CSS Menu/Carta ------------------ */
.bodyMenu {
    background-image: url(../img/backgrounds/patrick-schneider-5xltWMpkN3E-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bienvenidaCarta{
    /* font-size: xx-large;
    position:relative;
    margin-left: 40%;
    margin-bottom: 3%;
    margin-right: 40%;
    padding-left: 6%;
    padding: 1% 1% 1% 6%;
    background-image: url(../img/backgrounds/Pizarra_Menus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 100%; */
    width: 80%;
    height: 140px;
    display: grid;
    grid-template-columns: 1fr;
    
    align-content: center;
    justify-content: center;

    background-image: url(../img/backgrounds/conjunto-especias-hierbas-aromaticas-indias-sobre-fondo-piedra-negra-curcuma-eneldo-pimenton-canela-azafran-albahaca-romero-cuchara-vista-superior-bosquejo_253362-8645.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

    margin: 20px auto;
}

.bienvenidaCarta h1{
    width: 50%;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: var(--secondary-color);
    text-shadow: 2px 2px 2px black;
    background-color: var(--primary-color-opacity-50);
    place-self: center;
}

.mainMenu {
    background-color: var(--bg-color-nav-opacity-50);
    width: 100%;
    max-height: max-content;
}

.mainCarta {
    background-color: #3f413d37;
    /* scroll-padding-top: 100px; */
    width: 100%;
    display: grid;
    grid-template-areas: 
    "titulo"
    "subtituloPrincipal"
    "Principales"
    "subtituloAcompañamiento"
    "Acompañamientos"
    "subtituloBebidas"
    "bebidas";
    padding: 0 2%;
    padding-bottom: 5%;
}

.mainCarta .bienvenidaCarta{
    grid-area: titulo;
}
.mainCarta .principalMenu{
    grid-area: subtituloPrincipal;
}
.mainCarta .principalPlatos{
    grid-area: Principales;
    margin-bottom: 5%;
}
.mainCarta .acompañamientoMenu{
    grid-area: subtituloAcompañamiento;
}
.mainCarta .acompañamientoPlatos{
    grid-area: Acompañamientos;
    margin-bottom: 5%;
}
.mainCarta .bebidaMenu{
    grid-area: subtituloBebidas;
}
.mainCarta .bebidasPlatos{
    grid-area: bebidas;
    margin-bottom: 5%;
}

.subtituloMenu{
    width: 30%;
    min-width: 325px;
    height: 50px;
    background-color: var(--primary-color-opacity-50);
    margin: 20px 0;
}

.subtituloMenu h2{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: var(--secondary-color);
    text-shadow: 2px 2px 2px black;
}

.boxesContainer {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    height: 100%;
    gap: 3%;

}

.cardBox {
    /* position: relative;
    float: left; */
    font-size: 1.2em;
    /* margin: 1% 0 1% 1%; */
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 30%;
    height: 100%;
}

.cardBox:hover .card {
    transform: rotateY(180deg);
}

.card {
    background: #222222;
    cursor: default;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
    border-radius: 5%;
    
}

.front,
.back {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 1.2em;
    height: 100%;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    width: 100%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    margin-bottom: 30px;
    border-radius: 5%;
}

.back {
    transform: rotateY(180deg);
}

.hCard {
    background: #024e0565;
    color: #fff;
    text-align: center;
    margin: 0 0 5% 0;
    padding: 0.5em;
    
}

.pCard {
    margin-bottom: 1.8em;
    background-color: hsla(0, 0%, 0%, 0.60);
    text-align: center;
    position: relative;
    border-radius: 5px;

    max-height: 150px;
    overflow-y: auto;
}

strong {
    background: #024e0565;
    border-radius: 100%;
    color: #1e1d1d;
    font-size: 1.5em;
    line-height: 100%;
    padding: 0 7px 4px 6px;
}

#cardUno {
    background-image: url(../img/menu/comidas/arroz-alcachofa-W-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cardUnoBack {
    background-image: url(../img/menu/comidas/arroz-alcachofa-W-1back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cardDos {
    background-image: url(../img/menu/comidas/Tallarines\ a\ la\ carbonara.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cardDosBack {
    background-image: url(../img/menu/comidas/Tallarines\ a\ la\ carbonara\ back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#cardTres {
    background-image: url(../img/menu/comidas/garbanzos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#cardTresBack {
    background-image: url(../img/menu/comidas/garbanzos\ back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cardCuatro {
    background-image: url(../img/menu/comidas/menu1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cardCuatroBack {
    background-image: url(../img/menu/comidas/menu1back.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cardCinco {
    background-image: url(../img/menu/comidas/menu2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cardCincoBack {
    background-image: url(../img/menu/comidas/menu2back.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#cardSeis {
    background-image: url(../img/menu/comidas/menu3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#cardSeisBack {
    background-image: url(../img/menu/comidas/menu3back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cardSiete{
    background-image: url(../img/menu/bebidas/licuado\ de\ pistacchio.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cardSieteBack{
    background-image: url(../img/menu/bebidas/licuado\ de\ pistacchio\ back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cardOcho{
    background-image: url(../img/menu/bebidas/licuado\ frutos\ rojos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cardOchoBack{
    background-image: url(../img/menu/bebidas/licuado\ frutos\ rojos\ back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cardNueve{
    background-image: url(../img/menu/bebidas/smoothie\ anana\,\ limon\ y\ jengibre.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cardNueveBack{
    background-image: url(../img/menu/bebidas/smoothie\ anana\,\ limon\ y\ jengibre\ back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aCard:hover {
    background: #fff;
    color: #333;
    text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(2) .card {
    -webkit-animation: giro 1.5s 1;
    animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
    -webkit-animation: giro 2s 1;
    animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2.5s 1;
}

@keyframes giro {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@-webkit-keyframes giro {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {

    .cardBox {
        width: 48%;
    }

    .card {
        height: 285px;
    }

    .cardBox:last-child {
        margin-bottom: 3%;
    }
    .boxesContainer{
        height: 50%;
        margin: 0;
    }
}


@media screen and (max-width: 320px) {

    .cardBox {
        width: 94.5%;
        height: 10%;
        margin: 2%;
    }
    
    /* .mainMenu{ */
        /* height: 1000px; */
        /* max-height: max-content; */
    /*} */

    .subtituloMenu{
        margin: 20px auto;
        display: grid;
        align-items: center;
    }

    .subtituloMenu{
        width: 90%;
        min-width: 150px;
        height: 50px;
    }
    
    .subtituloMenu h2{
        font-size: 1.6em;
    }

    .bienvenidaCarta{
        width: 100%;
        height: 100px;
        margin: 0;
    }
    
    .bienvenidaCarta h1{
        width: 90%;
        font-size: 2em;
    }
    
    .boxesContainer{
        gap:0;
        justify-content: center;
    }
}





footer {
    background-color: black;
    color: white;
    height: 100px;
}

/* ------ Contacto ------ */

.bodyContacto {
    background-image: url(../img/backgrounds/1089110.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

.mainContacto{
    min-height: 1024px;
    width: 100%;
    background-color: var(--bg-color-nav-opacity-50);
}

.fondoContacto{
    height: 100%;
    padding: 20px 0px;
    /* background-color: var(--primary-color-opacity-50); */
}

.contenedorContacto {
    /* padding-top: 50px; */
    margin: auto;
    height: 95%;
    min-height: 800px;
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "titulo titulo"
    "iframe formulario";

    place-items: center;

    gap: 5px;

    /* background-color: var(--bg-color-button); */
}

.tituloContacto{
    grid-area: titulo;
    width: 100%;
    height: 70%;
    max-height: 140px;
    background-image: url(../img/backgrounds/1089110\ reducido.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloContacto h1{
    width: 50%;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: var(--secondary-color);
    text-shadow: 2px 2px 2px black;
    background-color: var(--bg-color-nav-opacity-50);
}

.iframeContacto{
    grid-area: iframe;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1.5fr 0.6fr 4fr;
    grid-template-areas: 
    "subtitulo subtitulo subtitulo"
    "boton1 boton2 boton3"
    "mapa mapa mapa";

    align-items: center;
    justify-items: center;
    
    background-color: var(--bg-color-nav-opacity-50);
    backdrop-filter: blur(10px);
    /* background-color: green; */
}

.iframeContacto h2 {
    grid-area: subtitulo;
    width: 80%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: var(--secondary-color);
    text-shadow: 2px 2px 2px black;
    background-color: var(--primary-color-opacity-50);
    /* place-self: center; */
}

.iframeContacto .central{
    grid-area: boton1;
}

.iframeContacto .local1{
    grid-area: boton2;
}

.iframeContacto .local2{
    grid-area: boton3;
}

.iframeContacto a{

    width: 80%;
    height: 80%;
    margin: 5%;

    /* place-self: center; */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color-opacity-50);

    font-size: 1.2em;
    font-weight: bold;
    color: var(--secondary-color);
    text-shadow: 2px 2px 2px black;

    border: 3px solid var(--primary-color-opacity-50);
    

    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 30px;
}

.iframeContacto a:hover{
    border: 3px solid var(--secondary-color);
}

.iframeContacto iframe {
    grid-area: mapa;

    width: 80%;
    height: 80%;
    /* margin: 10%; */

    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 10px;

    /* place-self: center; */
}

.formContenedorContacto{
    grid-area: formulario;
    width: 100%;
    height: 100%;

    display:grid;
    grid-template-rows: 1.5fr 4.6fr;
    grid-template-areas:
    "subtitulo"
    "formulario";

    align-items: center;
    justify-items: center;
    
    background-color: var(--bg-color-nav-opacity-50);
    backdrop-filter: blur(10px);
}

.formContenedorContacto h2{
    grid-area: subtitulo;
    width: 80%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: var(--secondary-color);
    text-shadow: 2px 2px 2px black;
    background-color: var(--primary-color-opacity-50);
}

.formContacto{
    grid-area: formulario;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-areas: 
    "nombre"
    "email"
    "asunto"
    "mensaje"
    "botonMensaje";

    align-items: center;
    justify-items: center;
}



/* ------ Footer ------ */

.barFooter{
    background-color: black;
    /* background-color: var(--bg-color-nav); */
    width: 100%;
    height: 100%;
    max-height: 266px;
    display: grid;
    grid-template-columns: 4fr 1.5fr 4fr;
    grid-template-areas: 
    "redes logo navegacion"
    "copyright copyright copyright";


    place-items: center;

    color: var(--primary-color);
}

.barFooter .redesFooter{
    grid-area: redes;
    color: var(--primary-color-opacity-50);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5%;
    background-color: black;
    padding:5%;
}

.barFooter .redesFooter div{
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
}

.barFooter .redesFooter i{
    font-size: 1.5em;
}
.barFooter .redesFooter p{
    font-size: 1.2em;
    padding: 1% 0px;
}

.barFooter .redesFooter div p{
    padding-left: 1%;
    font-size: 0.9em;

}

.barFooter .logoFooter{
    grid-area: logo;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barFooter .logoFooter img{
    /* height: 58%; */
    width: 70%;
    border: 3px solid var(--primary-color-opacity-50);
    border-radius: 10px;

}

.barFooter .navegacionFooter{
    grid-area: navegacion;
    width: 100%;
    height: 100%;

    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0 5%;

    background-color: black;
}

.barFooter .navegacionFooter a {
    text-decoration: none;
    color: var(--primary-color-opacity-50);
    font-size: 1.2em;
    padding: 5px 20px;
    text-align: end;
    width: 150px;
}

.barFooter .navegacionFooter a:hover {
    color: var(--secondary-color);
    background-color: var(--bg-color-button);
}
.barFooter .copyFooter{
    grid-area: copyright;
    color: var(--primary-color);
    border-top: 1px  solid var(--primary-color);
    border-width: 80%;
    width: 100%;
    
    display: grid;
    grid-template-areas: "copy";
    align-items: center;
    justify-items: center;

    background-color: black;
    /* background-color: purple; */
}

.barFooter .copyFooter p{
    grid-area: copy;
    text-align: center;
    height: 3em;
    border-top: none;
    /* padding: 0.8em 0; */
}

@media screen and (min-width: 389px) and (max-width: 768px) {

.barFooter{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "logo redes"
    "copyright copyright";
    max-height: max-content;
    width: 100%;
}

.barFooter .navegacionFooter{
    display: none;
}
.barFooter .logoFooter{
    padding: 5%;
}
.barFooter .logoFooter img{
    width: 65%;
}
.barFooter .copyFooter p{
    font-size: 0.8em;
    /* padding: 0px 5px; */
}

}

@media screen and (max-width: 388px){
    .barFooter{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "logo redes"
        "copyright copyright";
        max-height: max-content;
        width: 100%;
    } 

    .barFooter .navegacionFooter{
        display: none;
    }

    .barFooter .logoFooter{
        padding: 5%;
    }
    .barFooter .logoFooter img{
        width: 55%;
    }

    .barFooter .redesFooter i{
        font-size: 1.2em;
    }
    .barFooter .redesFooter p{
        font-size: 0.9em;
        padding: 1% 0px;
    }    
    .barFooter .redesFooter div p{
        padding-left: 1%;
        font-size: 0.6em;
    }

    .barFooter .copyFooter p{
        font-size: 0.6em;
        padding: 0px 5px;
    }
}

.horaReserva[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
  }
