<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vegan - Lista de Reservas</title>
    <link rel="shortcut icon" href="../../static/img/fabicon/logo-simplificado-fondo-negro.ico">
    <link rel="stylesheet" href="../../static/css/style-prueba-3.css">

    <script src="https://kit.fontawesome.com/95e43c16b2.js" crossorigin="anonymous"></script>

</head>

<body class="bodyListReserva">

    <header>
        <nav id="navBar">
            <div id="navLogo">
                <ul id="navLogoDesplegable">
                    <li id="navLogoDesplegableIcono"><i class="fa-solid fa-bars"></i>

                        <ul id="navLogoDesplegableLista">

                            <li class="navLogoDesplegableBotones">
                                <a href="../../index.html">Home</a>
                            </li>

                            <li class="navLogoDesplegableBotones">
                                <a href="../menu.html">Menú</a>
                            </li>

                            <li class="navLogoDesplegableBotones">
                                <a href="../reserva.html">Reserva</a>
                            </li>

                            <li class="navLogoDesplegableBotones">
                                <a href="../nosotros.html">Nosotros</a>
                            </li>

                            <li class="navLogoDesplegableBotones">
                                <a href="../contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <a href="../../index.html"><img class="navImg" src="../../static/img/logos/LogoHorrizontalv2.png"
                        alt="Logo de Vegan"></a>

                <a href="../../index.html"><img id="navImgSimplificado" src="../../static/img/logos/Logo-Solo.png"
                        alt="Logo de Vegan"></a>
            </div>

            <div id="navMenu">
                <a class="navMenuLogo" href="../../index.html"><img class="navImg"
                        src="../../static/img/logos/LogoHorrizontalv2.png" alt="Logo de Vegan"></a>
                <a class="navMenuLink" href="../../index.html">Home</a>
                <a class="navMenuLink" href="../menu.html">Menú</a>
                <a class="navMenuLink" href="../reserva.html">Reserva</a>
                <a class="navMenuLink" href="../nosotros.html">Nosotros</a>
                <a class="navMenuLink" href="../contacto.html">Contacto</a>
            </div>

            <div id="navLogin">
                <a class="navLoginLink" id="navLoginLinkIcono" href="../admin/login.html"><i
                        class="fa-solid fa-circle-user"></i></a>
                <a class="navLoginLink" id="navLoginLinkTexto" href="../admin/login.html"><i
                        class="fa-solid fa-circle-user"></i> Login</a>
            </div>

        </nav>
    </header>
    
    <main class="mainListReservas">

        <div class="grillaPrincipalReserva">

            <div class="titulo">
                <h1>Lista de Reservas</h1>
            </div>

            <section id="formListaReserva" class="formListaReserva">
                <div class="listaBuscador">
                    <div>
                        <label>Fecha Inicio:</label>
                        <input id="listaBuscarFechaInicio" class="listaBuscarFechaInicio" type="date">
                        <p id="errorFechaInicio" class="errorFechaInicio"></p>
                    </div>
                    <div>
                        <label>Fecha Fin:</label>
                        <input id="listaBuscarFechaFin" class="listaBuscarFechaFin" type="date">
                        <p id="errorFechaFin" class="errorFechaFin"></p>
                    </div>
                    <div class="listaBuscarButton">
                        <button type="submit">Buscar</button>
                    </div>
                </div>
                <div class="lista">
                    <div class="listaConceptos">
                        <ul>
                            <li>Local</li>
                            <li>Fecha</li>
                            <li>Hora</li>
                            <li>Nombre</li>
                            <li>Mail</li>
                            <li>Cantidad</li>
                            <li>Estado</li>
                        </ul>
                    </div>
                    <div id="listaFilas" class="listaFilas">
                    </div>
                    <div id="listaFooter" class="listaFooter">
                        <button id="anteriorButton" onclick="restarValor()">Anterior</button>
        
                        <input id="numIngreso" type="number" value="1">
                        <div id="numPaginas" class="numPaginas">
                        </div>
        
                        <button id="siguienteButton" onclick="sumarValor()">Siguiente</button>
                    </div>
                </div>
            </section>

            <script src="../../static/Js/scripListaReserva copy.js"></script>
        </div>
    </main>

    <footer class="barFooter">
        <div class="redesFooter">
            <p>Siganos en</p>
            <div>
                <i class="fa-brands fa-square-instagram"></i>
                <p>@Vegan</p>
            </div>
            <div>
                <i class="fa-brands fa-square-facebook"></i>
                <p>@VeganRest</p>
            </div>

            <p>Telefono</p>
            <div>
                <i class="fa-brands fa-square-whatsapp"></i>
                <p>+54 9 11 3887-2088</p>
            </div>

        </div>

        <div class="logoFooter">
            <img src="../../static/img/logos/LogoVegano(verdeynegro)recortadov2.png" alt="">
        </div>

        <div class="navegacionFooter">
            <a class="navMenuLink" href="../../index.html">Home</a>
            <a class="navMenuLink" href="../menu.html">Menú</a>
            <a class="navMenuLink" href="../reserva.html">Reserva</a>
            <a class="navMenuLink" href="../nosotros.html">Nosotros</a>
            <a class="navMenuLink" href="../contacto.html">Contacto</a>
        </div>

        <div class="copyFooter">
            <p class="copyFooter">Copyrights © 2024 All Rights Reserved by Vegan</p>
        </div>

    </footer>

</body>

</html>