<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vegan - Login</title>
    <link rel="shortcut icon" href="../../static/img/fabicon/logo-simplificado-fondo-negro.ico">
    <link rel="stylesheet" href="../../static/css/style-prueba-2.css">

    <script src="https://kit.fontawesome.com/95e43c16b2.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <nav id="navBar">
            <div id="navLogo">
                <ul id="navLogoDesplegable">
                    <li id="navLogoDesplegableIcono"><i class="fa-solid fa-bars"></i>
                        
                        <ul id="navLogoDesplegableLista">

                            <li id="navLogoDesplegableBotones">
                                <a href="../../index.html">Home</a>
                            </li>
        
                            <li id="navLogoDesplegableBotones">
                                <a href="../menu.html">Menú</a>
                            </li>
        
                            <li id="navLogoDesplegableBotones">
                                <a href="../reserva.html">Reserva</a>
                            </li id="navLogoDesplegableBotones">
        
                            <li id="navLogoDesplegableBotones">
                                <a href="../nosotros.html">Nosotros</a>
                            </li>
        
                            <li id="navLogoDesplegableBotones">
                                <a href="../contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <a href="../../index.html"><img id="navImg" src="../../static/img/logos/Logo-Horrizontal v2.png"
                        alt="Logo de Vegan"></a>

                <a href="../../index.html"><img id="navImgSimplificado" src="../../static/img/logos/Logo-Solo.png"
                            alt="Logo de Vegan"></a>
            </div>

            <div id="navMenu">
                <a class="navMenuLogo" href="../../index.html"><img id="navImg"
                        src="../../static/img/logos/Logo-Horrizontal v2.png" alt="Logo de Vegan"></a>
                <a class="navMenuLink" href="../../index.html">Home</a>
                <a class="navMenuLink" href="../menu.html">Menú</a>
                <a class="navMenuLink" href="../reserva.html">Reserva</a>
                <a class="navMenuLink" href="../nosotros.html">Nosotros</a>
                <a class="navMenuLink" href="../contacto.html">Contacto</a>
            </div>

            <div id="navLogin">
                <a class="navLoginLink" id="navLoginLinkIcono" href="../admin/login.html"><i
                        class="fa-solid fa-circle-user"></i></a>
                <a class="navLoginLink" id="navLoginLinkTexto" href="../admin/login.html"><i
                    class="fa-solid fa-circle-user"></i> Login</a>
            </div>

        </nav>
    </header>

    <main>
        <div id="contLoging">
            <h1>Iniciar sesión</h1>
            <h2>Por favor inicie sesión para poder acceder a su cuenta.</h2>
            <form action="" id="formLoging">
                <div>
                    <div>
                        <label for="mailLogin">Mail</label>
                        <input type="email">
                    </div>

                    <div>
                        <label for="passLogin">Contraseña</label>
                        <input type="password" >
                    </div>
                    <div class="recordarLogin">
                        <input class="checkRecordarLogin" type="checkbox">
                        <label class="textRecordarLogin" for="">Recordarme</label>
                    </div>
                    <div class="iniciarButton">
                        <button>INICIAR SESIÓN</button>
                    </div>

                    <div class="registerLogin">
                        <p>¿Aun no tienes cuenta? <a href="./register.html">Registrese aqui</a> </p>
                    </div>

                </div>

            </form>
        </div>
    </main>

    <footer>
        Aca va el footer.
    </footer>

</body>

</html>