<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vegan - rigistrarse</title>
    <link rel="shortcut icon" href="../../static/img/fabicon/logo-simplificado-fondo-negro.ico">
    <link rel="stylesheet" href="../../static/css/style-prueba-2.css">

    <script src="https://kit.fontawesome.com/95e43c16b2.js" crossorigin="anonymous"></script>

</head>

<body>

    <header>
        <nav id="navBar">
            <div id="navLogo">
                <ul id="navLogoDesplegable">
                    <li id="navLogoDesplegableIcono"><i class="fa-solid fa-bars" style="color: #005009;"></i>
                        
                        <ul id="navLogoDesplegableLista">

                            <li id="navLogoDesplegableBotones">
                                <a href="../../index.html">Home</a>
                            </li>
        
                            <li id="navLogoDesplegableBotones">
                                <a href="../nosotros.html">Nosotros</a>
                            </li>
        
                            <li id="navLogoDesplegableBotones">
                                <a href="../menu.html">Menú</a>
                            </li id="navLogoDesplegableBotones">
        
                            <li id="navLogoDesplegableBotones">
                                <a href="../reserva.html">Reserva</a>
                            </li>
        
                            <li id="navLogoDesplegableBotones">
                                <a href="../locales.html">Locales</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <a href="../../index.html"><img id="navImg" src="../../static/img/logos/Logo-Horrizontal v2.png"
                        alt="Logo de Vegan"></a>
            </div>

            <div id="navMenu">
                <a class="navMenuLogo" href="../../index.html"><img id="navImg"
                        src="../../static/img/logos/Logo-Horrizontal v2.png" alt="Logo de Vegan"></a>
                <a class="navMenuLink" href="../../index.html">Home</a>
                <a class="navMenuLink" href="../nosotros.html">Nosotros</a>
                <a class="navMenuLink" href="../menu.html">Menú</a>
                <a class="navMenuLink" href="../reserva.html">Reserva</a>
                <a class="navMenuLink" href="../locales.html">Locales</a>
            </div>

            <div id="navLogin">
                <a class="navLoginLink" id="navLoginLinkIcono" href="../admin/login.html"><i
                        class="fa-solid fa-circle-user" style="color: #005009;"></i></a>
                <a class="navLoginLink" id="navLoginLinkTexto" href="../admin/login.html">Login</a>
            </div>

        </nav>
    </header>

    <main>
        <p>Aca va como registrarse</p>
        <div id="contLoging">
            <h1>Crear cuenta</h1>
            <h2>Cree una cuenta y obtenga beneficios exclusivo para clientes.</h2>
            <form action="" id="formLoging">
                <div>
                    <div>
                        <label for="mailLogin">Mail</label>
                        <input type="email">
                    </div>

                    <div>
                        <label for="passLogin">Contraseña</label>
                        <input type="password">
                    </div>
                    <div>
                        <label for="passLogin">Contraseña</label>
                        <input type="password">
                    </div>
                    <div>
                        <label for="passLogin">Contraseña</label>
                        <input type="password">
                    </div>
                    <div>
                        <label for="passLogin">Contraseña</label>
                        <input type="password">
                    </div>
                    <div>
                        <label for="fecha-reserva">Seleccione una fecha:</label>
                        <input type="date">
                    </div>
                    <div>
                        <input type="checkbox">
                        <label for="">Recordarme</label>
                    </div>
                    <div>
                        <button>INICIAR SESIÓN</button>
                    </div>

                    <div>
                        <p>¿Aun no tienes cuenta?</p> <a href="./register.html">Registrese aqui</a>
                    </div>

                </div>

            </form>
        </div>
    </main>

    <footer>
        Aca va el footer.
    </footer>

</body>

</html>